DJANGO_SECRET_KEY=
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,[::1]
CORS_ALLOWED_ORIGINS=http://localhost:3000

SMS_PROVIDER=console
KAVENEGAR_API_KEY=
KAVENEGAR_TEMPLATE=
MELLIPAYAM_USERNAME=
MELLIPAYAM_PASSWORD=
MELLIPAYAM_FROM=
ZARINPAL_MERCHANT_ID=

POSTGRES_DB=shamin
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
